@model IEnumerable<ProjectSDA.Models.Product>

<h1>Products Detail</h1>
@*<button>
    @Html.ActionLink("Create New", "Create")
</button>*@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>
<div class="container">
    <div class="row justify-content-lg-left">
        <div class="col col-lg-7">
            @using (Html.BeginForm("Index", "Product", FormMethod.Get))
            {
                <div class="row">
                    <div class="col col-lg-4">
                        <span>@Html.TextBox("Search", null, new { @class = "form-control" })</span>
                    </div>
                    <div class="col col-lg-2">
                        <input type="submit" value="Search" class="btn btn-info" />
                    </div>
                </div>
            }
        </div>
        <div class="col col-lg-4">
            <a class="btn btn-primary btn-block" href="/product/Create" role="button">+ Add product</a>
        </div>
    </div>
</div><hr/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
