@model IEnumerable<ProjectSDA.Models.CustomerModel>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<h1>Customer Details</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Customers</li>
    </ol>
</nav>

<div class="container">
    <div class="row justify-content-lg-left">
        <div class="col col-lg-7">
            @using (Html.BeginForm("Index", "Customer", FormMethod.Get))
            {
                <div class="row">
                    <div class="col col-lg-4">
                        <span>@Html.TextBox("Search", null, new { @class = "form-control" })</span>
                    </div>
                    <div class="col col-lg-2">
                        <input type="submit" value="Search" class="btn btn-info" />
                    </div>
                </div>
            }
        </div>
        <div class="col col-lg-4">
            <a class="btn btn-primary btn-block" href="/Customer/Create" role="button">+ Add product</a>
        </div>
    </div>
</div>


<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
